
html
{
  height:100%;
  width: 100%;
  
}
 
 
body {
  width: 100%;
  height: 100%;
  background-color:#40293B;
  
}

/* TYPOGRAPHY*/
h1 {
  font-family: 'Hepta Slab', serif;
  font-weight:300;
  font-size: 90px; 
  color: #EAE4D1; 
  line-height: 85px; 
}

h2 {
  font-family: 'Hepta Slab', serif;
  line-height: 55px; 
  font-size: 60px;
  font-weight:200; 
  color:#7d6fd7;
}

h3 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 28px; 
  color: #EAE4D1;
}

h4 {
  font-family: 'Hepta Slab', serif;
  font-size: 20px; 
  color:#EAE4D1; 
  line-height: 25px;}


  h5 {
    font-family: 'Hepta Slab', serif;
    font-size: 35px; 
    color:#EAE4D1; 
    line-height: 50px;}
 

p {
  font-family: 'Montserrat', sans-serif; 
  font-size: 18 px; 
  color: #EAE4D1; 
  line-height: 30px;}

  ul li {
    font-family: 'Montserrat', sans-serif; 
    font-size: 15px;
    font-weight:500;
    line-height: 25px;
    padding-left: 5px; 
    color: #EAE4D1;
    list-style-type:'+';
    text-indent: 0; 
    margin-left:0;
   }
   
   li::marker {
    color:#7d6fd7;
  }
 
  span.a {
    display: inline; 
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color:511E79; 
  }


  article {
    scroll-snap-type: y proximity;
    /* Reserve space for header plus some extra space for sneak peeking. */
    scroll-padding-top: 15vh;
    overflow-y: scroll;
  }
  section {
    /* Snap align start. */
    scroll-snap-align: start;
  }
  header {
    position: fixed;
    height: 10vh;
  }
  
/* BACKGROUNDS */
.bg-open{
  background-image: url("assets/img/engjell-gjepali-ETN1HRiZag8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px; 
}
.bg {
  background: color url('assets/img/moon.png') others;
}

.rule {
  border-top: 1px solid #7d6fd7;
}




/* ALIGNMENT + PLACEMENT */

.center {
  display:flex; 
  justify-content: center;
}

.fixed-absolute-bottom {
  position: absolute;
   bottom:150px;
    display:flex; 
    justify-content: center;
  }
  
.absolute-top {
  position: absolute;
  top: 150px;
}

.relative—centered  {
  position: relative;
   bottom:20px;
    display:flex; 
    justify-content: center;
  }
.column {
 flex-direction: column;
}

.row {
  display:flex; 
  flex-direction: row; 
}


.padding {
  padding-top: 50px;
  padding-left: 50px; 
  padding-bottom:50px;
}

.sectionbanner {
  height:300px;
}
 

.fullview {
  width:100vh;
}

.half {
  width:50%; 
  padding-right: 35px;
  text-wrap:wrap;
 
}
.even {
  display:flex; 
  justify-content: space-evenly;  
}

.third {
  width:27%; 
  display:flex; 
  align-items: center;
}






/* LINKS */

a:link {
  color: #EAE4D1; 
  text-decoration: none; }

a:hover {
  color:#7d6fd7;}

a:visited {
    color: none;
  }






/* IMAGES + OVERLAYS*/

.circular { 
 position: relative; 
 width: 200px; 
 height: 200px; 
 overflow: hidden; 
 border-radius: 50%;
} 

.circular-img { 
  width: 100%; 
  height: 100%; 
 }

#selector {
  width:100%;
 
}

.img-container {
  position: relative;
display:inlin-block;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:  #EAE4D1; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}


/*  COLOR */

.purple {
  background-color: #7d6fd7;
}


.purpleborder{
border: 1px solid #7d6fd7;
width: 30%;
height: 500px;
flex:display;
flex-wrap: wrap;
justify-content: center;
align
text-align:center;
}

.cream {
  width:100%;
  height: 300px;
  background: #EAE4D1;
} 


.wrapper {
  margin:20px;
}

